<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <!-- Bootstrap -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link href="../../Content/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-inverse container-fluid">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand mynavbar-brand" href="#"><strong>Food Hunter</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home") <span class="sr-only">(current)</span></li>
                    <li>@Html.ActionLink("Top Resturent", "Index", "Restaurant")</li>
                    <li>@Html.ActionLink("Top Foods", "Details", "Food")</li>
                    <li>@Html.ActionLink("Tranding", "Details", "Food")</li>
                    <li>@Html.ActionLink("New Arrival", "Details", "Food")</li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="access">@Html.ActionLink("Login", "Index", "Login")/@Html.ActionLink("SignUp", "Index", "Registration")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Body start -->
    <div class="container">
        <div class="row">
            <div class="col-xs-3 sidebar">
                <h3>Sidebar</h3>
                <ul class="nav nav-tabs nav-stacked">
                    <a href='#'><button class="btn btn-info btn-lg btn-group-justified my-btn"><li>Profile</li></button></a>
                    <a href='#'><button class="btn btn-info btn-lg btn-group-justified my-btn"><li>News List</li></button></a>
                    <a href='#'><button class="btn btn-info btn-lg btn-group-justified my-btn"><li>Resturent List</li></button></a>
                    <a href='#'><button class="btn btn-info btn-lg btn-group-justified my-btn"><li>Food List</li></button></a>
                </ul>
            </div>
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
    </div>


    <footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p>
                Md. Hasan Uzzaman © 2017, All Rights Reserved
                <br>
                <span>Design By: Md. Hasan Uzzaman Noyon</span>
            </p>
            <p>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../Scripts/bootstrap.min.js"></script>
</body>
</html>