@model FoodHunter.FoodHunterWeb.AppLayer.ViewModels.Details.FoodieDetailsViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </dt>
    
            <dd>
                <img src="@Html.DisplayFor(model => model.ProfilePicture)" alt="Profile Picture" style="height: 200px; width: 200px;" />
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
        </dl>

        @if (Model?.CheckIns != null)
        {
            foreach (var item in Model.CheckIns)
            {
                <table class="table">
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckInTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurant)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.CheckInId }) |
                            @Html.ActionLink("Details", "Details", new { id=item.CheckInId })
                        </td>
                    </tr>
                </table>
            }
        }
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    </p>
</body>
</html>
