@model FoodHunter.FoodHunterWeb.AppLayer.ViewModels.Details.RestaurantAdminDetailsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Restaurant_Admin.cshtml";
}

<h2>Welcome Restaurant Admin</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) 
</p>

<h2>Restaurants</h2>
<hr />
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurants[0].RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurants[0].CurrentStatus)
        </th>
    </tr>
    @if (Model != null)
    {
        if (Model.Restaurants != null)
        {
            foreach (var item in Model.Restaurants)
            {
                <tr>
                    <td>
                        @Html.ActionLink(""+item.RestaurantName+"", "Details", "Restaurant", new { id=item.RestaurantId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentStatus)
                    </td>
                </tr>
            }
        }
    }
</table>

@Html.ActionLink("Add Restaurant", "Create", "Restaurant")
