

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<h2>Index</h2>
@Html.ActionLink("Users List","UserList","AppAdmin")<br/>
<p>See the List Of Users</p>
@Html.ActionLink("Restaurants List", "RestaurantList", "AppAdmin")<br/>
<p>See the List Of Restaurants</p>
@Html.ActionLink("Approval List", "ApprovalList", "AppAdmin")
<p>Pending Approval Lists</p>
=======
<h1>Welcome Admin</h1>
<div class="well linktab">@Html.ActionLink("List of Users", "UserList", "AppAdmin")<p>See list of Users</p></div>
<div class="well linktab">@Html.ActionLink("List of Resturents", "RestaurantList", "AppAdmin")<p>See List of Resturents</p></div>
<div class="well linktab">@Html.ActionLink("Pending Approvals", "ApprovalList", "AppAdmin")<p>Pending Approvals</p></div>
>>>>>>> 87cfeecfd55dafa9c726aa5db0481cf6fc434989
