@model FoodHunter.FoodHunterWeb.AppLayer.ViewModels.Details.FoodDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FoodDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscoutPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscoutPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    @foreach (var item in Model.Reviews)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>  
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
